@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap");
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /*font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;*/
}

body header {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 1rem rgba(128, 128, 128, 0.307);
  position: fixed;
  top: 0;
  z-index: 5;
}
body header .navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  padding: 0.3rem;
}
body header .navbar .logo {
  width: 20%;
}
body header .navbar .logo img {
  width: 60%;
}
body header .navbar .navList {
  width: 60%;
  list-style-type: none;
  display: flex;
}
body header .navbar .navList li {
  margin: 0.8rem;
}
body header .navbar .navList li a {
  text-decoration: none;
  font-weight: 600;
  color: gray;
  padding: 0.5em;
}
body header .navbar .navList li a:hover {
  color: #3259a6;
  padding: 0.5em;
  transition: ease-in-out 500px;
}
body header .navbar .navList li a:focus {
  color: #3259a6;
  border-radius: 1rem;
}
body header .navbar .btn {
  width: 20%;
}
body header .navbar .btn form button {
  outline: none;
  border: none;
  border-radius: 10px;
  background: none;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 1rem;
}
body header .navbar .btn form .login {
  border: 1px solid #3259a6;
  color: #3259a6;
  margin: 0 5px;
}
body header .navbar .btn form .signup {
  background-color: #3259a6;
  color: white;
}
body header .navbar .burger {
  display: none;
}
body header .navbar .close {
  display: none;
}
@media screen and (max-width: 1080px) {
  body header .navbar .navList {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.247);
    transition: left 200ms ease-in-out;
  }
  body header .navbar .navList.showMenu {
    left: 0;
  }
  body header .navbar .navList.showMenu::before {
    background-color: blue;
  }
  body header .navbar .navList li {
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 0;
  }
  body header .navbar .btn {
    display: none;
  }
  body header .navbar .burger {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  body header .navbar .close {
    display: block;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
    font-size: 20px;
  }
}
body main .home_selection {
  width: 80%;
  margin: auto auto;
}
body main .home_selection .content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 3vw;
  overflow: hidden;
}
body main .home_selection .content .left {
  transform: translateX(-150%);
  transition: right 300ms ease;
}
body main .home_selection .content .left h1 {
  font-size: 4vw;
}
body main .home_selection .content .left p {
  margin-top: 2rem;
  font-size: 1.1vw;
  width: 70%;
}
body main .home_selection .content .left .form {
  width: 65%;
  margin-top: 2rem;
}
body main .home_selection .content .left .form form {
  position: relative;
}
body main .home_selection .content .left .form form input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.079);
  padding: 15px 30px;
}
body main .home_selection .content .left .form form button {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #3259a6;
  color: white;
  padding: 1rem 1.7rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}
body main .home_selection .content .left .form form button span {
  margin-left: 0.5rem;
}
body main .home_selection .content .left .marque {
  display: flex;
  margin-top: 2rem;
}
body main .home_selection .content .left .marque h4 {
  margin-right: 3rem;
  color: #3259a6;
  font-size: 1.8vw;
}
body main .home_selection .content .right {
  transform: translateX(150%);
  transition: right 300ms ease;
}
body main .home_selection .content .right .right_content {
  position: relative;
}
body main .home_selection .content .right .right_content .volatil {
  width: 11.5vw;
  border-radius: 0.7rem;
  background-color: #3259a6;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(25%, -20%);
}
body main .home_selection .content .right .right_content .volatil .top {
  margin-bottom: 3vw;
  padding: 1.5vw;
  color: white;
}
body main .home_selection .content .right .right_content .volatil .top p {
  font-size: 1.2rem;
}
body main .home_selection .content .right .right_content .volatil .top h4 {
  font-size: 1.5rem;
}
body main .home_selection .content .right .right_content .volatil .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  background-color: #130d7b;
  border-radius: 0 0 0.6rem 0.6rem;
  color: white;
}
body main .home_selection .content .right .right_content .volatil .bottom h2 {
  font-size: 1.9rem;
}
body main .home_selection .content .right .cart_form {
  width: 23rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(128, 128, 128, 0.263);
  border-radius: 0.6rem;
  padding: 1.6rem 1.8rem;
}
body main .home_selection .content .right .cart_form .first_info {
  display: flex;
  align-items: center;
}
body main .home_selection .content .right .cart_form .first_info .awesome {
  background-color: #3259a6;
  color: white;
  border-radius: 0.6rem;
  padding: 0.3rem 0.4rem;
  font-size: 1.5rem;
}
body main .home_selection .content .right .cart_form .first_info .text {
  margin-left: 0.3rem;
  line-height: 1.3;
  font-size: 0.8rem;
  line-height: 1.1;
}
body main .home_selection .content .right .cart_form .first_info .text span:first-child {
  font-weight: bold;
  font-size: 0.8rem;
}
body main .home_selection .content .right .cart_form .account_info {
  line-height: 1;
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
}
body main .home_selection .content .right .cart_form .account_info span {
  font-size: 1rem;
}
body main .home_selection .content .right .cart_form .account_info h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.6rem 0;
}
body main .home_selection .content .right .cart_form .banque_form {
  margin-top: 1.5rem;
}
body main .home_selection .content .right .cart_form .banque_form form .rad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.074);
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
body main .home_selection .content .right .cart_form .banque_form form .rad:first-child {
  border: 1px solid #3259a6;
}
body main .home_selection .content .right .cart_form .banque_form form .rad:first-child .rounded {
  background-color: #3259a6;
}
body main .home_selection .content .right .cart_form .banque_form form .rad.active {
  border: 1px solid #3259a6;
}
body main .home_selection .content .right .cart_form .banque_form form .rad.active .rounded {
  background-color: #3259a6;
}
body main .home_selection .content .right .cart_form .banque_form form .rad:hover {
  border: 1px solid #3259a6;
}
body main .home_selection .content .right .cart_form .banque_form form .rad:hover .rounded {
  background-color: #3259a6;
}
body main .home_selection .content .right .cart_form .banque_form form .rad button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
body main .home_selection .content .right .cart_form .banque_form form .rad .rounded {
  background-color: none;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
body main .home_selection .content .right .cart_form .banque_form form .btn {
  margin-top: 0.6rem;
  outline: none;
  border: none;
  background-color: #3259a6;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
body main .section1 {
  padding: 20px 10%;
  margin: 3.1rem auto;
  overflow: hidden;
}
body main .section1 .inner {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.132);
  padding: 3.8rem;
}
body main .section1 .inner.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body main .section1 .inner.anim_inner_section {
  opacity: 1;
  transform: translate(0);
}
body main .section1 .inner .haut {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.1rem;
  align-items: center;
}
body main .section1 .inner .haut .gauche span {
  color: #3259a6;
  font-size: 1.8vw;
}
body main .section1 .inner .haut .gauche h1 {
  font-size: 2.8vw;
}
body main .section1 .inner .bas {
  margin-top: 3.1rem;
}
body main .section1 .inner .bas .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.9rem;
}
body main .section1 .inner .bas .row .col span {
  font-size: 2.5rem;
  color: #3259a6;
}
body main .section1 .inner .bas .row .col h1 {
  font-weight: bold;
  font-size: 1.6rem;
}
body main .section1 .inner .bas .row .col p {
  font-size: 1rem;
}
body main .section2 {
  width: 80%;
  margin: 10rem auto;
  overflow: hidden;
}
body main .section2 .inner_sections2 .texte {
  text-align: center;
}
body main .section2 .inner_sections2 .texte span {
  color: rgba(55, 96, 176, 0.6039215686);
}
body main .section2 .inner_sections2 .texte.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: 800ms ease;
}
body main .section2 .inner_sections2 .texte.anim_inner_section {
  opacity: 1;
  transform: translateY(0);
}
body main .section2 .inner_sections2 .gridd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1vw;
  align-items: center;
  margin-top: 1.6vw;
}
body main .section2 .inner_sections2 .gridd .blocs {
  background-color: rgba(50, 89, 166, 0.0666666667);
  padding: 1.3vw;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc1 {
  padding: 2.6vw;
  height: 13rem;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc1.hidden {
  opacity: 0;
  transform: translateX(-500px);
  transition: 800ms ease;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc1.anim_inner_section {
  opacity: 1;
  transform: translateX(0);
}
body main .section2 .inner_sections2 .gridd .blocs.bloc1 p {
  font-size: 1.25rem;
  font-weight: bold;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2 {
  padding: 2.6vw;
  height: 13rem;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2.anim_inner_section {
  opacity: 1;
  transform: translateX(0);
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2 p {
  font-size: 1.25rem;
  font-weight: bold;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.8vw;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:first-child {
  background-color: #3259a6;
  color: white;
  padding: 0.5vw;
  border-radius: 0.6rem;
  font-size: 1.9rem;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 1VW;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:last-child {
  background-color: #3259a6;
  color: white;
  padding: 0.5vw;
  border-radius: 0.5vw;
  margin-left: 1.1vw;
  font-size: 1.9rem;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6vw;
  grid-column: 1/3;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3.anim_inner_section {
  opacity: 1;
  transform: translateX(0);
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text {
  width: 20vw;
  justify-content: center;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text span {
  font-size: 0.7rem;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3 .graphics {
  width: 36.5vw;
  padding: 1.1vw 1.3vw;
  background-color: white;
  box-shadow: 0 0 1.3rem rgba(128, 128, 128, 0.218);
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3 .graphics .graphs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .section2 .inner_sections2 .gridd .blocs.bloc3 .graphics .graphs .gtext_info span {
  font-size: 0.75rem;
}
body main .section3 {
  background-color: #3259a6;
  margin-top: 3vw;
  overflow: hidden;
}
body main .section3 .iner_section3 {
  width: 80%;
  margin: auto auto;
  padding: 6.2vw 0;
}
body main .section3 .iner_section3.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body main .section3 .iner_section3.anim_inner_section {
  opacity: 1;
  transform: translate(0);
}
body main .section3 .iner_section3 .texte span {
  font-size: 1rem;
  color: white;
}
body main .section3 .iner_section3 .texte h1 {
  color: white;
  font-size: 3.1rem;
}
body main .section3 .iner_section3 .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6vw;
  margin-top: 2.1vw;
}
body main .section3 .iner_section3 .row .col .inner_col {
  background-color: rgba(255, 255, 255, 0.152);
  padding: 1.6vw;
  border-radius: 0.3rem;
  color: white;
}
body main .section3 .iner_section3 .row .col .inner_col .gradient-text {
  font-size: 60px;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.0784313725));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
body main .section3 .iner_section3 .row .col .inner_col span {
  font-weight: bold;
}
body main .section4 {
  width: 100%;
  overflow: hidden;
}
body main .section4 .inner_section4 {
  width: 80%;
  margin: auto auto;
  margin-top: 8vw;
}
body main .section4 .inner_section4 .textes {
  width: 28vw;
  text-align: center;
  margin: auto auto;
}
body main .section4 .inner_section4 .textes span {
  color: #3259a6;
}
body main .section4 .inner_section4 .textes span.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .textes span.anim_inner_section {
  opacity: 1;
  transform: translateY(0);
}
body main .section4 .inner_section4 .textes h1 {
  font-size: 1.9rem;
  margin-top: 0.6vw;
}
body main .section4 .inner_section4 .textes h1.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .textes h1.anim_inner_section {
  opacity: 1;
  transform: translateY(0);
}
body main .section4 .inner_section4 .textes p {
  margin-top: 0.6vw;
}
body main .section4 .inner_section4 .textes p.hidden {
  opacity: 0;
  transform: translateY(150px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .textes p.anim_inner_section {
  opacity: 1;
  transform: translateY(0);
}
body main .section4 .inner_section4 .counter {
  display: flex;
  justify-content: center;
  margin-top: 1.6vw;
}
body main .section4 .inner_section4 .counter.hidden {
  opacity: 0;
  transform: translateX(800px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .counter.anim_inner_section {
  opacity: 1;
  transform: translateX(0);
}
body main .section4 .inner_section4 .counter .meme {
  padding: 0.6vw 1.6vw;
  line-height: 0.8;
}
body main .section4 .inner_section4 .counter .meme p:first-child {
  font-size: 3.1rem;
  font-weight: 600;
}
body main .section4 .inner_section4 .counter .meme p:last-child {
  font-size: 0.8rem;
}
body main .section4 .inner_section4 .dlinkk {
  text-align: center;
  margin: 1.6vw 0;
}
body main .section4 .inner_section4 .dlinkk.hidden {
  opacity: 0;
  transform: translateY(200px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .dlinkk.anim_inner_section {
  opacity: 1;
  transform: translateY(0);
}
body main .section4 .inner_section4 .cartee {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1vw;
}
body main .section4 .inner_section4 .cartee .carte_plus {
  width: 20rem;
  height: auto;
  padding: 1.8vw;
  border-radius: 0.6rem;
}
body main .section4 .inner_section4 .cartee .carte_plus .plus_bas {
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
}
body main .section4 .inner_section4 .cartee .carte_plus.plus {
  background-color: rgba(50, 89, 166, 0.2941176471);
}
body main .section4 .inner_section4 .cartee .carte_plus.plus.hidden {
  opacity: 0;
  transform: translateX(-500px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .cartee .carte_plus.plus.anim_inner_section {
  opacity: 1;
  transform: translateX(0);
}
body main .section4 .inner_section4 .cartee .carte_plus.premium {
  background-image: url("assets/image/premium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main .section4 .inner_section4 .cartee .carte_plus.premium.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body main .section4 .inner_section4 .cartee .carte_plus.premium.anim_inner_section {
  opacity: 1;
  transform: translateX(0);
}
body main .section5 {
  width: 80%;
  margin: 8vw auto 0 auto;
  overflow: hidden;
}
body main .section5 .inner_section5 {
  background-color: #3259a6;
  border-radius: 0.7rem;
  padding: 3.5vw 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .section5 .inner_section5.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body main .section5 .inner_section5.anim_inner_section {
  opacity: 1;
  transform: translate(0);
}
body main .section5 .inner_section5 .textes {
  width: 30vw;
  color: white;
}
body main .section5 .inner_section5 .textes h1 {
  font-size: 2.5rem;
}
body main .section5 .inner_section5 .textes p {
  font-size: 0.8rem;
  margin-top: 1vw;
}
body main .section5 .inner_section5 .buton a {
  text-decoration: none;
  color: white;
}
body main .section5 .inner_section5 .buton a:hover {
  background-color: white;
  color: #03a1c8;
  transition: ease-in-out 300ms;
  border: none;
}
body main .section5 .inner_section5 .buton a:first-child {
  background-color: #03a1c8;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.6vw;
  border: 0.1rem solid #03a1c8;
}
body main .section5 .inner_section5 .buton a:first-child:hover {
  background-color: white;
  color: #03a1c8;
  transition: ease-in-out 300ms;
  border: none;
  border: 0.1rem solid #03a1c8;
}
body main .section5 .inner_section5 .buton a:last-child {
  border: 0.1rem solid #03a1c8;
  padding: 0.6vw 1vw;
  border-radius: 0.6vw;
}
body main .section5 .inner_section5 .buton a:last-child span {
  margin-left: 0.6vw;
}
body footer {
  width: 80%;
  margin: 6vw auto 0 auto;
  overflow: hidden;
}
body footer.hidden {
  opacity: 0;
  transform: translateX(500px);
  transition: 800ms ease;
}
body footer.anim_inner_section {
  opacity: 1;
  transform: translate(0);
}
body footer .fot_haut {
  display: flex;
  justify-content: space-between;
  padding: 2.5vw 2.5vw 5vw 2.5vw;
  overflow: hidden;
}
body footer .fot_haut .logo {
  width: 10%;
}
body footer .fot_haut .logo img {
  width: 100%;
}
body footer .fot_haut .deroulant ul {
  list-style-type: none;
}
body footer .fot_haut .deroulant .first_ul {
  display: flex;
  overflow: hidden;
}
body footer .fot_haut .deroulant .first_ul .first_li {
  padding: 0 2vw;
}
body footer .fot_haut .deroulant .first_ul .first_li a {
  text-decoration: none;
  color: gray;
}
body footer .fot_haut .deroulant .first_ul .first_li a:hover {
  color: #3259a6;
}
body footer .fot_haut .deroulant .first_ul .first_li ul {
  margin-top: 1vw;
}
body footer .fot_haut .media span {
  font-size: 0.8rem;
}
body footer .fot_haut .media .social {
  margin-top: 1vw;
}
body footer .fot_haut .media .social a {
  color: #3259a6;
}
body footer .fot_haut .media .social a:hover {
  color: #03a1c8;
}
body footer .fot_bas {
  text-align: center;
  padding: 1vw;
  color: gray;
}

@media screen and (max-width: 1400px) {
  body main .home_selection .content .left h1 {
    font-size: 3rem;
  }
  body main .home_selection .content .left p {
    margin-top: 1rem;
  }
  body main .home_selection .content .left .form {
    margin-top: 1.2rem;
  }
  body main .home_selection .content .left .marque h4 {
    margin-right: 2rem;
    font-size: 1.45rem;
  }
  body main .home_selection .content .right .right_content .volatil .top p {
    font-size: 0.8rem;
  }
  body main .home_selection .content .right .right_content .volatil .top h4 {
    font-size: 1.4rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom {
    padding: 0.8rem 1.5rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom h2 {
    font-size: 1.6rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc2 .elements span:first-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc2 .elements span:last-child {
    font-size: 1.5rem;
  }
  body main .section4 .inner_section4 .textes p {
    font-size: 0.8rem;
  }
  body main .section5 .inner_section5 .textes h1 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1200px) {
  body main .home_selection .content .left h1 {
    font-size: 2.6rem;
  }
  body main .home_selection .content .left p {
    font-size: 0.8rem;
  }
  body main .home_selection .content .left .form form {
    margin-top: 1.2rem;
  }
  body main .home_selection .content .left .form form input {
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
  }
  body main .home_selection .content .left .form form button {
    padding: 0.7rem 1rem;
  }
  body main .home_selection .content .left .form form button span {
    margin-left: 0.5rem;
  }
  body main .home_selection .content .left .marque {
    margin-top: 1.2rem;
  }
  body main .home_selection .content .left .marque h4 {
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }
  body main .home_selection .content .right .right_content .volatil .top p {
    font-size: 0.8rem;
  }
  body main .home_selection .content .right .right_content .volatil .top h4 {
    font-size: 1.2rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom {
    padding: 0.8rem 1.5rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom h2 {
    font-size: 1.4rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom span {
    font-size: 1rem;
  }
  body main .home_selection .content .right .right_content .cart_form {
    width: 22rem;
  }
  body main .section1 .inner .haut .gauche span {
    font-size: 1.2rem;
  }
  body main .section1 .inner .haut .gauche h1 {
    font-size: 2.2rem;
  }
  body main .section1 .inner .haut .droite {
    font-size: 0.9rem;
  }
  body main .section1 .inner .bas .row .col h1 {
    font-size: 1.4rem;
  }
  body main .section1 .inner .bas .row .col p {
    font-size: 0.8rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc2 .elements span:first-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc2 .elements span:last-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc3 .text {
    width: 25vw;
  }
  body main .section3 .iner_section3 .texte h1 {
    font-size: 2.4rem;
  }
  body main .section4 .inner_section4 .textes p {
    font-size: 0.7rem;
  }
  body main .section5 .inner_section5 .textes h1 {
    font-size: 2.1rem;
  }
  body main .section5 .inner_section5 .textes p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 992px) {
  body main .home_selection .content .left h1 {
    font-size: 2.6rem;
  }
  body main .home_selection .content .left p {
    font-size: 0.8rem;
  }
  body main .home_selection .content .left .form form {
    margin-top: 1.2rem;
  }
  body main .home_selection .content .left .form form input {
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
  }
  body main .home_selection .content .left .form form button {
    padding: 0.7rem 1rem;
  }
  body main .home_selection .content .left .form form button span {
    margin-left: 0.5rem;
  }
  body main .home_selection .content .left .marque {
    margin-top: 1.2rem;
  }
  body main .home_selection .content .left .marque h4 {
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }
  body main .home_selection .content .right .right_content .volatil .top p {
    font-size: 0.8rem;
  }
  body main .home_selection .content .right .right_content .volatil .top h4 {
    font-size: 1.2rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom {
    padding: 0.8rem 1.5rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom h2 {
    font-size: 1.4rem;
  }
  body main .home_selection .content .right .right_content .volatil .bottom span {
    font-size: 1rem;
  }
  body main .home_selection .content .right .right_content .cart_form {
    width: 22rem;
  }
  body main .section1 .inner .haut .gauche span {
    font-size: 1.2rem;
  }
  body main .section1 .inner .haut .gauche h1 {
    font-size: 2.2rem;
  }
  body main .section1 .inner .haut .droite {
    font-size: 0.9rem;
  }
  body main .section1 .inner .bas .row .col h1 {
    font-size: 1.4rem;
  }
  body main .section1 .inner .bas .row .col p {
    font-size: 0.8rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc2 .elements span:first-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc2 .elements span:last-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .bloc3 .text {
    width: 25vw;
  }
  body main .section3 .iner_section3 .texte h1 {
    font-size: 2.4rem;
  }
  body main .section4 .inner_section4 .textes p {
    font-size: 0.7rem;
  }
  body main .section5 .inner_section5 .textes h1 {
    font-size: 2.1rem;
  }
  body main .section5 .inner_section5 .textes p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  body main .home_selection .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .home_selection .content .left h1 {
    font-size: 3.2rem;
  }
  body main .home_selection .content .left p {
    width: auto;
    font-size: 1.1rem;
  }
  body main .home_selection .content .left .form {
    width: auto;
  }
  body main .home_selection .content .left .form form input {
    padding: 0.9rem 1.5rem;
    font-size: 1rem;
  }
  body main .home_selection .content .left .form form button {
    font-size: 1rem;
    padding: 0.9rem 1.5rem;
  }
  body main .home_selection .content .left .marque {
    justify-content: space-between;
  }
  body main .home_selection .content .left .marque h4 {
    font-size: 2rem;
    margin-right: 0;
  }
  body main .home_selection .content .right {
    display: none;
  }
  body main .section1 .inner {
    text-align: center;
  }
  body main .section1 .inner .haut {
    gap: 2rem;
    grid-template-columns: auto;
  }
  body main .section1 .inner .haut .gauche span {
    font-size: 1rem;
  }
  body main .section1 .inner .haut .gauche h1 {
    font-size: 1.5rem;
  }
  body main .section1 .inner .haut .droite {
    margin-top: -0.8rem;
  }
  body main .section1 .inner .haut .droite p {
    font-size: 0.8rem;
  }
  body main .section1 .inner .bas {
    margin-top: 1.5rem;
  }
  body main .section1 .inner .bas .row {
    grid-template-columns: auto;
  }
  body main .section1 .inner .bas .row .col span {
    font-size: 4rem;
    color: #3259a6;
  }
  body main .section1 .inner .bas .row .col h1 {
    font-weight: bold;
    font-size: 1.6rem;
  }
  body main .section1 .inner .bas .row .col p {
    font-size: 1rem;
  }
  body main .section1 .inner .bas .row .col.col1 {
    grid-column: 1/3;
  }
  body main .section1 .inner .bas .row .col.col2 {
    grid-column: 1/3;
  }
  body main .section1 .inner .bas .row .col.col3 {
    grid-column: 1/3;
  }
  body main .section2 {
    overflow: visible;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1 {
    height: 9rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1 p {
    font-size: 1.19rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 {
    height: 9rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 p {
    font-size: 1.19rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:first-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:last-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text {
    width: 25vw;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text h3 {
    font-size: 0.9rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text span {
    font-size: 0.5rem;
  }
  body main .section3 .iner_section3 .texte h1 {
    font-size: 1.8rem;
  }
  body main .section3 .iner_section3 .row .col .inner_col .gradient-text {
    font-size: 3rem;
  }
  body main .section3 .iner_section3 .row .col .inner_col span {
    font-size: 0.9rem;
    font-weight: bold;
  }
  body main .section3 .iner_section3 .row .col .inner_col p {
    font-size: 0.8rem;
  }
  body main .section4 .inner_section4 .textes {
    width: 25rem;
  }
  body main .section4 .inner_section4 .textes span {
    font-size: 0.8rem;
  }
  body main .section4 .inner_section4 .textes h1 {
    font-size: 1.2rem;
  }
  body main .section4 .inner_section4 .textes p {
    font-size: 0.7rem;
  }
  body main .section4 .inner_section4 .counter.hidden {
    opacity: 1;
    transform: translateX();
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .counter.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section4 .inner_section4 .counter .meme p:first-child {
    font-size: 2.5rem;
  }
  body main .section4 .inner_section4 .counter .meme p:last-child {
    font-size: 0.6rem;
    margin-top: 0.3rem;
  }
  body main .section4 .inner_section4 .dlinkk.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .dlinkk.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section4 .inner_section4 .cartee {
    gap: 1rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus {
    width: 15rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus h3 {
    font-size: 1rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus .plus_bas {
    margin-top: 3.8rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.plus {
    background-color: rgba(50, 89, 166, 0.2941176471);
  }
  body main .section4 .inner_section4 .cartee .carte_plus.plus.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.plus.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section4 .inner_section4 .cartee .carte_plus.premium.plus {
    background-color: rgba(50, 89, 166, 0.2941176471);
  }
  body main .section4 .inner_section4 .cartee .carte_plus.premium.plus.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.premium.plus.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section5 .inner_section5 .textes span {
    font-size: 0.8rem;
  }
  body main .section5 .inner_section5 .textes h1 {
    font-size: 1.2rem;
  }
  body main .section5 .inner_section5 .textes p {
    font-size: 0.5rem;
  }
  body main .section5 .inner_section5 .buton a {
    font-size: 0.8rem;
  }
  body footer .fot_haut .deroulant {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  body main .home_selection .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .home_selection .content .left h1 {
    font-size: 3.2rem;
  }
  body main .home_selection .content .left p {
    width: auto;
    font-size: 1.1rem;
  }
  body main .home_selection .content .left .form {
    width: auto;
  }
  body main .home_selection .content .left .form form input {
    padding: 0.9rem 1.5rem;
    font-size: 1rem;
  }
  body main .home_selection .content .left .form form button {
    font-size: 1rem;
    padding: 0.9rem 1.5rem;
  }
  body main .home_selection .content .left .marque {
    justify-content: space-between;
  }
  body main .home_selection .content .left .marque h4 {
    font-size: 2rem;
    margin-right: 0;
  }
  body main .home_selection .content .right {
    display: none;
  }
  body main .section1 .inner .haut {
    gap: 2rem;
  }
  body main .section1 .inner .haut .gauche span {
    font-size: 1rem;
  }
  body main .section1 .inner .haut .gauche h1 {
    font-size: 1.25rem;
  }
  body main .section1 .inner .haut .droite p {
    font-size: 0.5rem;
  }
  body main .section1 .inner .bas .row {
    grid-template-columns: repeat(2, 1fr);
  }
  body main .section1 .inner .bas .row .col.col3 {
    grid-column: 1/3;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1 p {
    font-size: 1.19rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 p {
    font-size: 1.19rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:first-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:last-child {
    font-size: 1.5rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text {
    width: 25vw;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text h3 {
    font-size: 0.9rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text span {
    font-size: 0.5rem;
  }
  body main .section3 .iner_section3 .texte h1 {
    font-size: 1.8rem;
  }
  body main .section3 .iner_section3 .row .col .inner_col .gradient-text {
    font-size: 3rem;
  }
  body main .section3 .iner_section3 .row .col .inner_col span {
    font-size: 0.9rem;
    font-weight: bold;
  }
  body main .section3 .iner_section3 .row .col .inner_col p {
    font-size: 0.8rem;
  }
  body main .section4 .inner_section4 .textes {
    width: 25rem;
  }
  body main .section4 .inner_section4 .textes span {
    font-size: 0.8rem;
  }
  body main .section4 .inner_section4 .textes h1 {
    font-size: 1.2rem;
  }
  body main .section4 .inner_section4 .textes p {
    font-size: 0.7rem;
  }
  body main .section4 .inner_section4 .counter .meme p:first-child {
    font-size: 2.5rem;
  }
  body main .section4 .inner_section4 .counter .meme p:last-child {
    font-size: 0.6rem;
    margin-top: 0.3rem;
  }
  body main .section4 .inner_section4 .cartee {
    gap: 1rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus {
    width: 15rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus h3 {
    font-size: 1rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus .plus_bas {
    margin-top: 3.8rem;
  }
  body main .section5 .inner_section5 .textes span {
    font-size: 0.8rem;
  }
  body main .section5 .inner_section5 .textes h1 {
    font-size: 1.2rem;
  }
  body main .section5 .inner_section5 .textes p {
    font-size: 0.5rem;
  }
  body main .section5 .inner_section5 .buton a {
    font-size: 0.8rem;
  }
  body footer .fot_haut .deroulant {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  body main .home_selection {
    min-height: auto;
  }
  body main .home_selection .content {
    margin-top: 7rem;
    height: auto;
    overflow: visible;
  }
  body main .home_selection .content .left {
    width: 100%;
  }
  body main .home_selection .content .left h1 {
    font-size: 1.7rem;
  }
  body main .home_selection .content .left p {
    font-size: 0.8rem;
  }
  body main .home_selection .content .left .form {
    width: 100%;
  }
  body main .home_selection .content .left .form form input {
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
  }
  body main .home_selection .content .left .form form button {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
  body main .home_selection .content .left .marque {
    justify-content: space-between;
  }
  body main .home_selection .content .left .marque h4 {
    font-size: 1rem;
  }
  body main .home_selection .content .right {
    display: none;
  }
  body main .section1 {
    overflow: visible;
  }
  body main .section1 .inner.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section1 .inner.anim_inner_section {
    opacity: 1;
    transform: translate(0);
  }
  body main .section1 .inner .haut {
    text-align: center;
    grid-template-columns: auto;
  }
  body main .section1 .inner .haut .gauche span {
    font-size: 0.8rem;
  }
  body main .section1 .inner .haut .gauche h1 {
    font-size: 1rem;
  }
  body main .section1 .inner .haut .droite p {
    font-size: 0.6rem;
    margin-top: -1.2rem;
  }
  body main .section1 .inner .bas {
    text-align: center;
    margin-top: 1rem;
  }
  body main .section1 .inner .bas .row {
    grid-template-columns: repeat(2, 1fr);
  }
  body main .section1 .inner .bas .row .col span {
    font-size: 2.5rem;
  }
  body main .section1 .inner .bas .row .col h1 {
    font-size: 1.5rem;
  }
  body main .section1 .inner .bas .row .col p {
    font-size: 0.7rem;
  }
  body main .section1 .inner .bas .row .col.col1 {
    grid-column: 1/3;
  }
  body main .section1 .inner .bas .row .col.col2 {
    grid-column: 1/3;
  }
  body main .section1 .inner .bas .row .col.col3 {
    grid-column: 1/3;
  }
  body main .section2 {
    flex-wrap: wrap;
  }
  body main .section2 .inner_sections2 {
    width: 100%;
  }
  body main .section2 .inner_sections2 .texte {
    text-align: center;
  }
  body main .section2 .inner_sections2 .texte span {
    color: rgba(55, 96, 176, 0.6039215686);
  }
  body main .section2 .inner_sections2 .texte h2 {
    font-size: 1.2rem;
  }
  body main .section2 .inner_sections2 .texte.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .texte.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section2 .inner_sections2 .gridd {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1 {
    grid-column: 1/3;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1 p {
    font-size: 1rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc1.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 {
    grid-column: 1/3;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 p {
    font-size: 1rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:first-child {
    padding: 0.3rem;
    border-radius: 0.4rem;
    font-size: 1rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc2 .elements span:last-child {
    padding: 0.3rem;
    border-radius: 0.4rem;
    font-size: 1rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 {
    padding: 1rem 2rem;
    grid-column: 1/3;
    flex-direction: column;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text {
    width: 100%;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text h3 {
    font-size: 1.2rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .text span {
    font-size: 0.6rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .graphics {
    width: 100%;
    margin-top: 1rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .graphics .graphs .gtext_info span {
    font-size: 0.7rem;
  }
  body main .section2 .inner_sections2 .gridd .blocs.bloc3 .graphics .graphs .gtext_info h3 {
    font-size: 0.8rem;
  }
  body main .section3 .iner_section3 {
    text-align: center;
  }
  body main .section3 .iner_section3.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section3 .iner_section3.anim_inner_section {
    opacity: 1;
    transform: translate(0);
  }
  body main .section3 .iner_section3 .texte h1 {
    font-size: 1.2rem;
  }
  body main .section3 .iner_section3 .row {
    grid-template-columns: auto;
  }
  body main .section3 .iner_section3 .row .col .inner_col .gradient-text {
    font-size: 3rem;
  }
  body main .section3 .iner_section3 .row .col .inner_col span {
    font-size: 0.9rem;
    font-weight: bold;
  }
  body main .section3 .iner_section3 .row .col .inner_col p {
    font-size: 0.8rem;
  }
  body main .section4 {
    overflow: visible;
  }
  body main .section4 .inner_section4 .textes {
    width: 100%;
  }
  body main .section4 .inner_section4 .textes span {
    font-size: 0.8rem;
  }
  body main .section4 .inner_section4 .textes span.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .textes span.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section4 .inner_section4 .textes h1 {
    font-size: 1.2rem;
  }
  body main .section4 .inner_section4 .textes h1.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .textes h1.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section4 .inner_section4 .textes p {
    font-size: 0.7rem;
  }
  body main .section4 .inner_section4 .textes p.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .textes p.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section4 .inner_section4 .counter.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .counter.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section4 .inner_section4 .counter .meme p:first-child {
    font-size: 2.5rem;
  }
  body main .section4 .inner_section4 .counter .meme p:last-child {
    font-size: 0.6rem;
    margin-top: 0.3rem;
  }
  body main .section4 .inner_section4 .dlinkk.hidden {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .dlinkk.anim_inner_section {
    opacity: 1;
    transform: translateY(0);
  }
  body main .section4 .inner_section4 .cartee {
    gap: 1rem;
    flex-direction: column;
  }
  body main .section4 .inner_section4 .cartee .carte_plus {
    width: 100%;
    padding: 1.5rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.plus.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.plus.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section4 .inner_section4 .cartee .carte_plus h3 {
    font-size: 1rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus .plus_bas {
    margin-top: 3.8rem;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.premium {
    background-image: url("assets/image/premium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.premium.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section4 .inner_section4 .cartee .carte_plus.premium.anim_inner_section {
    opacity: 1;
    transform: translateX(0);
  }
  body main .section5 {
    margin-top: 5rem;
  }
  body main .section5 .inner_section5 {
    flex-direction: column;
    text-align: center;
    overflow: visible;
  }
  body main .section5 .inner_section5.hidden {
    opacity: 1;
    transform: translateX(0);
    transition: 800ms ease;
  }
  body main .section5 .inner_section5.anim_inner_section {
    opacity: 1;
    transform: translate(0);
  }
  body main .section5 .inner_section5 .textes {
    width: 100%;
  }
  body main .section5 .inner_section5 .textes span {
    font-size: 0.8rem;
  }
  body main .section5 .inner_section5 .textes h1 {
    font-size: 1.2rem;
  }
  body main .section5 .inner_section5 .textes p {
    font-size: 0.5rem;
  }
  body main .section5 .inner_section5 .buton {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  body main .section5 .inner_section5 .buton a {
    font-size: 0.8rem;
    padding: 1rem;
  }
  body main .section5 .inner_section5 .buton a:first-child {
    background-color: #03a1c8;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #03a1c8;
  }
  body main .section5 .inner_section5 .buton a:last-child {
    border: 1px solid #03a1c8;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #03a1c8;
  }
  body footer {
    overflow: visible;
  }
  body footer .fot_haut {
    overflow: visible;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body footer .fot_haut .logo {
    width: 50%;
  }
  body footer .fot_haut .logo img {
    width: 100%;
  }
  body footer .fot_haut .deroulant {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  body footer .fot_haut .media {
    margin-top: 1rem;
  }
  body footer .fot_bas {
    text-align: center;
    padding: 1rem;
    color: gray;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=styles.css.map */