@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');
*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /*font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;*/
}

body {
    header {
        width: 100%;
        background-color: white;
        box-shadow: 0 0 1rem rgba(128, 128, 128, 0.307);
        position: fixed;
        top: 0;
        z-index: 5;
        .navbar {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto auto;
            padding: 0.3rem;
            .logo {
                width: 20%;
                img {
                    width: 60%;
                }
            }
            .navList {
                width: 60%;
                list-style-type: none;
                display: flex;
                li {
                    margin: 0.8rem;
                    a {
                        text-decoration: none;
                        font-weight: 600;
                        color: gray;
                        padding: 0.5em;
                        &:hover {
                            color: #3259a6;
                            padding: 0.5em;
                            transition: ease-in-out 500px;
                        }
                        &:focus {
                            color: #3259a6;
                            border-radius: 1rem;
                        }
                    }
                }
            }
            .btn {
                width: 20%;
                form {
                    button {
                        outline: none;
                        border: none;
                        border-radius: 10px;
                        background: none;
                        padding: 8px 15px;
                        font-weight: 600;
                        font-size: 1rem;
                    }
                    .login {
                        border: 1px solid #3259a6;
                        color: #3259a6;
                        margin: 0 5px;
                    }
                    .signup {
                        background-color: #3259a6;
                        color: white;
                    }
                }
            }
            .burger {
                display: none;
            }
            .close {
                display: none;
            }
            @media screen and (max-width: 1080px) {
                //overflow: visible;
                .navList {
                    display: block;
                    position: fixed;
                    left: -300px;
                    top: 0;
                    width: 250px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    box-shadow: 0 0 15px rgba(128, 128, 128, 0.247);
                    transition: left 200ms ease-in-out;
                    &.showMenu {
                        left: 0;
                        &::before {
                            background-color: blue;
                        }
                    }
                    li {
                        font-size: 18px;
                        font-weight: bolder;
                        padding: 10px 0;
                    }
                }
                .btn {
                    display: none;
                }
                .burger {
                    display: block;
                    font-size: 20px;
                    cursor: pointer;
                }
                .close {
                    display: block;
                    position: absolute;
                    right: 50px;
                    top: 50px;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
}